
@{
    ViewBag.Title = "Details of Program";
}

<h2>Program Details</h2>
<h5>Channel Id: @Model.ProgramId</h5>
<h5>Channel Name: @Model.ProgramName</h5>
<h5>Established Year: @Model.TRPScore</h5>
<h5>Country: @Model.ChannelId</h5>
<h5>Country: @Model.AirTime</h5>

