
@{
    ViewBag.Title = "Edit Program";
}

<h2>Edit Program</h2>
<form method="post">
    <input type="hidden" name="ProgramId" value="@Model.ProgramId" />
    <input type="text" name="ProgramName" value="@Model.ProgramName" class="form-control" placeholder="ProgramName" />
    <input type="text" name="TRPScore" value="@Model.TRPScore" class="form-control" placeholder="TRPScore" />
    <input type="text" name="ChannelId" value="@Model.ChannelId" class="form-control" placeholder="ChannelId" />
    <input type="text" name="AirTime" value="@Model.AirTime" class="form-control" placeholder="AirTime" />
    <input type="submit" value="Update" class="btn btn-success" />
</form>
